::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.ProseMirror:focus {
  outline: none;
}
.custom-alert .ant-alert-close-icon {
  color: #000 !important; /* black */
}

.custom-alert .ant-alert-close-icon:hover {
  color: #000 !important; /* black on hover too */
}

.ant-layout-sider {
  flex: 0 0 230px !important;
  max-width: 230px !important;
  min-width: 230px !important;
  width: 230px !important;
}
.admit-patient-table-container::-webkit-scrollbar {
  height: 6px;
}

.remove_ul_bottom_margin ul {
  margin-bottom: 0px !important;
  margin-block-end: 0px !important;
}

.admit-patient-table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.admit-patient-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ant-menu-light.ant-menu-light {
  color: #ffffff;
  background: #0f5689 !important;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: #0f5689 !important;
}

:where(.css-dev-only-do-not-override-191squa).ant-table-wrapper
  .ant-table-thead
  th.ant-table-column-sort {
  background: #0f5689 !important;
}
:where(.css-dev-only-do-not-override-1gx1iy6).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: normal !important;
}

/* Override submenu background to make it transparent */
:where(.css-dev-only-do-not-override-191squa).ant-menu-light,
:where(.css-dev-only-do-not-override-191squa).ant-menu-light > .ant-menu {
  color: #ffffff;
  background: #0f5689 !important;
}
:where(.css-dev-only-do-not-override-1kca8y1).ant-menu-light,
:where(.css-dev-only-do-not-override-1kca8y1).ant-menu-light > .ant-menu {
  color: #ffffff;
}

:where(.css-191squa).ant-menu-light,
:where(.css-191squa).ant-menu-light > .ant-menu {
  color: #ffffff;
  background: #0f5689 !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f5689;
  color: rgb(0, 35, 41);
  padding: 8px 12px 8px 12px;
  position: sticky;
  width: 100%;
  top: 0;
  height: 44 !important;
  line-height: 64px;
  z-index: 1;
}

.mu {
  color: #fff;
}

.contentStyle {
  line-height: 22px;
  color: #fff;
  background-color: #fef9f7;
  height: 100%;
}

.no-margin * {
  margin: 0;
}

.sideStyle {
  height: 100vh;
  line-height: 22px;
  padding-bottom: 22px;
  color: #fff;
  background-color: #0f5689 !important;
  position: fixed !important;
  left: 0;
  overflow-y: auto !important;
}

.glassmorphic-white {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.text-color {
  color: #fcfafa;
}

.text-main-primary {
  color: #0f5689 !important;
}

.ant-card .ant-card-body {
  padding: 0px !important;
  border-radius: 0 0 8px 8px;
}

.sidemenu {
  height: 100dvh !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  background-color: #002329 !important  ;
  transition: 0.2s ease;
  color: #ffff !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: #ac8342;
  color: #ffffff !important;
}

/* Add this CSS in your stylesheet */
.custom-input {
  border: none;
  border-bottom: 2px solid #ac8342;
  outline: none;
  box-shadow: none;
}
.steps-action {
  display: flex;
  justify-content: flex-end;
  gap: 28px; /* Adjust spacing as needed */
  margin-top: 16px;
}
.iframe-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.iframe-scrollbar::-webkit-scrollbar {
  width: 6px !important;
}

.iframe-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.iframe-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.st {
  color: rgb(177, 211, 177);
}

.custom-input:focus {
  border-color: #ac8342;
}
/* Custom styling for the Select input */
.custom-select {
  border: none;
  border-bottom: 2px solid #ac8342;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  padding: 5px 0;
  width: 100%;
}

/* Focus state for Select input */
.custom-select:focus {
  border-color: #ac8342 !important;
}

/* Customizing the dropdown icon to match the style */
.custom-select .ant-select-arrow {
  color: #ac8342;
}

/* Optional: Style for the option list */
.custom-select .ant-select-item {
  border-bottom: 1px solid #f0f0f0; /* Add light border for dropdown items */
}
.modal-title-content {
  background-color: #f5f5dc; /* Light greyish cream */
  padding: 20px;
}

.modal-logo-container {
  margin-bottom: 10px; /* Space between logo and title */
  text-align: center;
}

.modal-logo {
  max-width: 150px; /* Adjust the logo size */
  height: auto;
}

.custom-header {
  background-color: #e89641;
  font-weight: bold; /* Optional */
}

.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.danger-row {
  background-color: #ffccc7; /* Light red */
}

.warning-row {
  background-color: #ffe58f; /* Light yellow */
}

.row-green {
  background-color: #dfffd6; /* Light green */
}

.row-orange {
  background-color: #ffedd6; /* Light orange */
}

.row-red {
  background-color: #ffd6d6; /* Light red */
}

:where(.css-dev-only-do-not-override-1gx1iy6).ant-alert
  .ant-alert-close-icon
  .anticon-close {
  color: #0f5689 !important;
}

main {
  height: 100%;
}
.ant-layout .ant-layout-sider-trigger {
  display: none !important;
}

.ping-container {
  top: 7px;
  right: 7px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.heartbeat {
  position: absolute;
  width: fit-content;
  background-color: #db0000;
  border-radius: 40px;
  width: 4px;
  height: 4px;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.dot {
  position: relative;
  width: fit-content;
  background: #db0000;
  border-radius: 40px;
  width: 4px;
  height: 4px;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(7);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .sideStyle {
    display: block; /* Hide the Sider component on smaller screens */
    z-index: 1;
  }
  .ant-layout-sider {
    flex: 0 0 230px !important;
    max-width: 230px !important;
    min-width: 230px !important;
    width: 230px !important;
    height: 100dvh !important;
    overflow-y: scroll !important;
  }

  .ant-layout-sider-collapsed {
    flex: 0 0 80px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    width: 0 !important;
  }
  .contentStyle {
    margin-left: 0; /* Adjust content margin for smaller screens */
    width: 100%;
    padding: 0;
  }

  main {
    margin-left: 0 !important;
  }
}

/* Define the keyframes for the dot animation */
@keyframes dot-blink {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

/* Style for loading dots */
.loading-dots::after {
  content: "";
  animation: dot-blink 1.5s infinite steps(1);
}

/* NURSE MODULE STYLES */

.admit-patient-card-container {
  padding: 24px 10px 24px 10px;
}

.admit-patient-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .admit-patient-filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtersOr {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .admit-patient-button-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.admit-patient-table {
  margin-top: 30px;
}

.inpatient-header {
  display: flex;
  color: #0f5689;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.inpatient-header .inpatient-header-text {
  font-weight: bold;
  color: #0f5689;
  font-size: 16px;
}
.inpatient-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inpatient-card-container .inpatient-card-left-col .card {
  padding: 10px 16px;
}
.inpatient-card-container .inpatient-card-right-col .card {
  padding: 10px 16px;
}
.inpatient-details-container-1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.inpatient-card-right-col .patient-name {
  font-weight: bold;
  color: #0f5689;
  font-size: 16px;
}
.inpatient-card-right-col .patient-id {
  color: gray;
  font-size: 14px;
}
.inpatient-details-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.inpatient-details-container-2 .patient-hospital-number-container {
  display: flex;
  flex-direction: column;
}

.inpatient-details-container-2 .patient-age-gender-container {
  display: flex;
  flex-direction: column;
}

.patient-hospital-number-container .hospital-number-header {
  font-size: 14px;
}
.patient-hospital-number-container .hospital-number {
  font-size: 14px;
  color: gray;
}
.patient-age-gender-container .age-and-gender {
  font-size: 14px;
  color: gray;
}
.inpatient-details-container-2 .age-and-gender-container {
  display: flex;
  flex-direction: column;
}
.age-and-gender-container .age-and-gender-header {
  font-size: 14px;
}
.age-and-gender-container .age-and-gender {
  font-size: 14px;
  color: gray;
}
.print-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .print-button-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .inpatient-card-container {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.dashboard-statistics-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .dashboard-statistics-container {
    gap: 10px;
  }
}
.allergies-card {
  margin-top: 10px;
  padding: 10px 16px;
}
.allergies-item-list-title {
  font-weight: bold;
  font-size: 14px;
}

.treatment-card-buttons {
  display: flex;
  gap: 10px;
}
.treatment-card-patient-treatment-info {
  margin-top: 10px;
  padding: 10px 16px;
}

.ant-table-wrapper .ant-table-row-expand-icon {
  color: #0f5689 !important;
  border: 1px solid #0f5689 !important;
}

.dashboard-card {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .dashboard-card {
    flex: unset;
    width: 100%;
  }
}

/* END OF NURSE MODULE STYLES */

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
}

.ant-tabs-tab-btn {
  font-weight: bold !important;
  font-size: 14px !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background-color: #0f5689 !important;
  color: #ffffff !important;
  border: none !important;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #dddada !important;
}

.active-button {
  background-color: #cac6c6 !important;
  color: black !important;
  border: none !important;
}

.disabled-row {
  pointer-events: none;
  opacity: 0.5;
  background-color: #f5f5f5;
}

.other-select .ant-radio,
.other-select .ant-checkbox {
  align-self: start;
  padding-top: 4px;
}

.other-select .ant-checkbox-inner::after {
  top: calc(50% + 1px);
}

.wrap-white-space .ant-card-head-title,
.wrap-white-space .ant-tabs-tab-btn {
  white-space: normal;
}

.wrap-white-space .ant-tabs-tab {
  text-align: left !important;
}
